

@media (min-width: 992px) and (max-width: 1400px) {

    #sidebar {

        width: 17rem !important;
    }


}
.wrapper {
    width: 100%;
}


#sidebar {
    z-index: 1;
    height: 100%;
    /*position: fixed;*/
    width: 20rem;
    background-color: #536976;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #BD5D38;
}

#sidebar.active {
    margin-left: -18.75rem;
}

#sidebar .logo {
    display: block;
    width: 7.5rem;
    height: 7.5rem;
    margin: 0 auto;
}

#sidebar .logo span {
    display: block;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li {
    font-size: 1rem;
}

#sidebar ul li > ul {
    margin-left: 10.625rem;
}

#sidebar ul li > ul li {
    font-size: 0.875rem;
}

#sidebar ul li a {
    padding: 0.625rem 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
}

/*Changement de couleur au passage de la souris*/
#sidebar ul li a:hover {
    font-weight: bold;
}

#sidebar ul li.active > a {
    background: transparent;
    font-weight: bold;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}


.content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


.img {
    background-image: url("../image/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.fond {

    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color:#1b1f49;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

.presentation {
    background-color: #383d41;
    opacity: 0.75;
    position: absolute;
    color: white;
}

.presentation btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.0625rem;
    display: inline-block;
    padding: 0.75rem 2rem;
    border-radius: 0.1875rem;
    transition: 0.5s;
    line-height: 1;
    margin: 0.625rem;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.10s;
    border: 0.125rem solid #e2af75;

}



section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    position: relative;
}

.text-primary {
    color: #BD5D38 !important;
}


a:hover, a:focus, a:active {
    color: #824027;
}

body {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

}

.subheading {
    font-weight: 500;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #868e96;
}

.subheading > a, .subheading > a:hover {

    color: #824027;

}

.h1desc {
    font-size: 6rem;
    line-height: 5.5rem;
    text-transform: uppercase;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

i {
    font-size: 3em;

}

.social-icons > a, .social-icons > div > a, .navbar-brand {


    text-align: center;
    font-size: 1rem;
    border-radius: 100%;
    color: white;

}

.social-icons > button {


    text-align: center;
    font-size: 0.7rem;
    border-radius: 100%;
    color: white;

}

.icon {
    border-radius: 100%;
    color: black;
}

.icon > i {

    font-size: 2rem;
}

.telicon{
    font-size:2em;
}

.social-icons > a:hover {

}


.pdf {
    color: black;
    font-size: 0.8rem;
}

.descexp > li {
    list-style-type: none;
}

.descexp > li:before {

    content: "- ";

}

.content h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #BD5D38 !important;
    border-bottom: 0.4rem solid #59F2FB;
    width: 300px;
}


.front, .back {
    background: #844127;
}


.fa-car, .fa-mobile-alt {
    font-size: 1.2em;
}


em{
    font-size: 2rem;
}

.codewars
{
    width: 120%;
}

.fab:hover,.far:hover,.fa:hover,.fas:hover{
    transform: scale(1.7);
}

.cv > img{
    
    border-radius: 40px;
    box-shadow: 15px 15px 14px -7px rgba(110,97,97,0.66);
-webkit-box-shadow: 15px 15px 14px -7px rgba(110,97,97,0.66);
-moz-box-shadow: 15px 15px 14px -7px rgba(110,97,97,0.66);
}

#sprite-anim {
    position: absolute;
    left: 150px;
}

.img-fluid {
    height : 16rem;
    width : 100%;
}