.imgcv > img{

    border-radius: 30px;
    box-shadow: 15px 15px 14px -7px rgb(110 97 97 / 66%);
    -webkit-box-shadow: 15px 15px 14px -7px rgb(110 97 97 / 66%);
    max-width: 100%;
	height: auto;
    
}
.imgcv 
{
    display: flex;
    justify-content:center;
    padding: 65px;
}

.CV 
{
   height: 80vh;
}

@media all and (min-width: 1023px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1023px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {

    .imgcv 
    {
        padding: 10px;
    }
}

@media all and (max-width: 480px) {

      .imgcv 
      {
          padding: 10px;
      }
}